<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TfsServer" value="http://vstfdevdiv:8080/devdiv2"/>
        <add key ="VsoServer" value="https://devdiv-test.visualstudio.com/DefaultCollection"/>
        <add key="Project" value="DevDiv"/>

        <add key="Action" value="Compare"/>
        <!--G:\sharedstuff\Tools\VSO_ValidationTool\Runs\Compare\Run-9-2-->
        <add key ="DataFilePath" value=""/>
        <add key ="CommonFields" value="Title,Area Path,Iteration Path,HyperLinkCount,State,Assigned To,Attachments,Created Date"/>
        <add key ="WorkItemTypes" value="Bug,Task,User Story,Scneario,Integration,Icon Request,ReadMe Input,Roadmap,Dependency,DTS Task"/>
        
        <!--Work Item Types-->
        <add key="Bug" value="Repro Steps,Priority"/>
        <add key="Task" value="Description,Priority"/>
        <add key="User Story" value="Description,Priority"/>
        <add key="Scenario" value="Description,Priority"/>
        <add key="Integration" value="Description,Source Branch,Target Branch"/>
        <add key="Icon Request" value="Description,Priority"/>
        <add key="ReadMe Input" value="Description"/>
        <add key="Roadmap" value="Description,Priority"/>
        <add key="Dependency" value="Description,Priority"/>
        <add key="DTS Task" value="Description,Priority" />
    </appSettings>
</configuration>